.pomelo-mysql-menu-database {
    color: rgb(204,204,204);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.pomelo-mysql-menu-title {
    background: rgb(56,56,56);
    color: rgb(204,204,204);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.pomelo-mysql-menu-db-submenu-item {
    display: block;
    padding: 7px 20px 5px 30px;
    font-size: 12px;
}

    .pomelo-mysql-menu-db-submenu-item i {
        width: 18px;
    }