.pomelo-mysql-menu-database {
    color: rgb(204,204,204);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    display: block;
}

    .pomelo-mysql-menu-database:hover, .pomelo-mysql-menu-database.active, .pomelo-mysql-menu-db-submenu-item:hover, .pomelo-mysql-menu-db-submenu-item.active {
        background: rgb(56,56,56);
    }

.pomelo-mysql-menu-title {
    background: rgb(56,56,56);
    color: rgb(204,204,204);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.pomelo-mysql-menu-db-submenu-item {
    display: block;
    padding: 7px 20px 5px 30px;
    font-size: 12px;
}

    .pomelo-mysql-menu-db-submenu-item i {
        width: 18px;
    }

.pomelo-mysql-menu-database i {
    width: 15px;
}

.pomelo-mysql-menu-db-submenu-item.sub-active {
    background: rgb(9, 71, 113);
    color: #fff;
}

.ace_editor {
    font-size: 14px;
}

.ace-monokai .ace_gutter {
    background: rgb(46,46,46) !important;
}

.ace-monokai {
    background: rgb(37,37,38) !important;
}