.pomelo-mysql-table-toolbar {
    background: rgb(42,45,46);
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #444;
}

.pomelo-mysql-table-toolbar-item {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
}

    .pomelo-mysql-table-toolbar-item:hover {
        background: rgb(70, 70, 70);
        color: #fff;
    }

    .pomelo-mysql-table-toolbar-item i {
        width: 15px;
    }

.pomelo-mysql-table-list {
    padding: 15px;
}

    .pomelo-mysql-table-list tr.active {
        color: #fff;
        background: rgb(0,124,202);
    }

.pomelo-mysql-table-list td i {
    width: 15px;
}

.pomelo-mysql-tabbar {
    background: rgb(37,37,38);
    height: 40px;
}

.pomelo-mysql-tabbar-item {
    padding: 0 15px;
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
    margin-right: -5px;
}

    .pomelo-mysql-tabbar-item.active {
        background: rgb(30,30,30);
        color: #fff;
    }

.pomelo-mysql-tabbar-item.major {
    background: rgb(104,33,122);
    color: #fff;
}

    .pomelo-mysql-tabbar-item.minor {
        background: rgb(9, 71, 113);
        color: #fff;
    }

.pomelo-mysql-tabbar-item i {
    width: 15px;
}

.pomelo-mysql-tabbar-item .close {
    width: 15px;
    text-align: right;
    visibility: hidden;
}

    .pomelo-mysql-tabbar-item:hover .close {
        visibility: visible;
    }

.pomelo-query-editor {
    height: 120px;
}
