<div>
    <div class="pomelo-mysql-table-toolbar" ref="toolbar">
        <a v-on:click="execute" class="pomelo-mysql-table-toolbar-item">
            <i class="fa fa-play"></i> Execute
        </a>
        <a class="pomelo-mysql-table-toolbar-item" v-on:click="reset">
            <i class="fa fa-undo"></i> Reset
        </a>
    </div>
    <div class="pomelo-query-editor" v-bind:id="'editor-' + timestamp"></div>
    <div v-if="opened.length > 0" class="pomelo-mysql-tabbar" ref="tabbar" style="border-top: 1px solid #444">
        <a class="pomelo-mysql-tabbar-item minor">
            Results
        </a>
        <a class="pomelo-mysql-tabbar-item" v-for="(x, i) in opened" v-on:click="open(x.params, $event)" v-bind:class="{ 'active': active === x.id }">
            <i class="fa fa-table"></i> Result #{{ i }}
            <i class="close fa fa-close" v-on:click="destroy(x.id)"></i>
        </a>
    </div>
    <div class="pomelo-query-result-outer" v-bind:id="'pomelo-mysql-query-result-' + instance + '-' + database" v-bind:style="{ 'height': resultHeight }">
    </div>
</div>