<div>
    <div class="pomelo-mysql-table-toolbar" ref="toolbar">
        <a v-on:click="save" class="pomelo-mysql-table-toolbar-item">
            <i class="fa fa-save"></i> Save
        </a>
        <a class="pomelo-mysql-table-toolbar-item" v-on:click="discard">
            <i class="fa fa-rotate-left"></i> Discard
        </a>
        <a class="pomelo-mysql-table-toolbar-item" v-on:click="newRow" v-if="!isView">
            <i class="fa fa-plus"></i> New
        </a>
        <a class="pomelo-mysql-table-toolbar-item">
            <i class="fa fa-minus"></i> Remove
        </a>
        <a class="pomelo-mysql-table-toolbar-item" v-on:click="showEditMenu = !showEditMenu; setEditMenuLeft($event);">
            <i class="fa fa-pencil-square-o"></i> Edit
        </a>
    </div>
    <div class="pomelo-toggle-menu" v-if="showEditMenu && selected.col != null && selected.row != null" v-bind:style="{ 'top': tableHeight + 'px', 'left': menuLeft + 'px' }">
        <a v-on:click="openEditor('text')" v-if="!(columns[selected.col].type.indexOf('blob') >= 0 || columns[selected.col].type.indexOf('binary') >= 0)">Edit as Text</a>
        <a v-on:click="openEditor('text')" v-else>Edit as Base 64</a>
        <a v-if="columns[selected.col].type.indexOf('json') >= 0 || columns[selected.col].type.indexOf('text') >= 0 || columns[selected.col].type.indexOf('char') >= 0" v-on:click="openEditor('json'); showEditMenu = false;">Edit as JSON</a>
        <a v-if="columns[selected.col].type.indexOf('blob') >= 0 || columns[selected.col].type.indexOf('binary') >= 0" v-on:click="openEditor('blob'); showEditMenu = false;">Replace by File</a>
        <a v-if="columns[selected.col].type.indexOf('blob') >= 0 || columns[selected.col].type.indexOf('binary') >= 0" v-on:click="openEditor('hex'); showEditMenu = false;">Edit as HEX</a>
        <hr class="pomelo-toggle-menu-split" />
        <a v-if="selected.col !== null && columns[selected.col].null === 'YES'" v-on:click="$root.$root.$set(rows[selected.row], selected.col, null); showEditMenu = false;">Set NULL</a>
    </div>
    <div class="pomelo-table-outer" v-bind:style="{ 'height': tableHeight }">
        <table class="pomelo-table hover-display-border">
            <thead>
                <tr>
                    <th v-for="x in columns">{{ x.field }}</th>
                </tr>
            </thead>
            <tbody v-if="rows.length === origin.length">
                <tr v-for="(x, i) in rows" v-bind:data-row-index="i" v-bind:class="{ 'new-record': status[i] === 'new' }">
                    <td v-for="(y, j) in x" v-on:click="selected.row = i; selected.col = j;">
                        <input type="text" 
                               class="pomelo-table-textbox" 
                               v-bind:class="{ 'selected': selected.row === i && selected.col === j, 'dirty': origin[i][j] !== rows[i][j] }" 
                               v-bind:data-origin="origin[i][j]" v-model="rows[i][j]" v-on:blur="handleDirty($event)"
                               v-bind:placeholder="(rows[i][j] === null && columns[j].null === 'YES' ? '(NULL)' : null)"
                               v-bind:disabled="columns[j].type.indexOf('binary') >= 0 || columns[j].type.indexOf('blob') >= 0"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>