.pomelo-mysql-table-toolbar {
    background: rgb(42,45,46);
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #444;
}

.pomelo-mysql-table-toolbar-item {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
}

    .pomelo-mysql-table-toolbar-item:hover {
        background: rgb(70, 70, 70);
        color: #fff;
    }

    .pomelo-mysql-table-toolbar-item i {
        width: 15px;
    }

.pomelo-mysql-table-list {
    padding: 15px;
}

    .pomelo-mysql-table-list tr.active {
        color: #fff;
        background: rgb(0,124,202);
    }

.pomelo-mysql-table-list td i {
    width: 15px;
}

.pomelo-mysql-tabbar {
    background: rgb(37,37,38);
    height: 40px;
}

.pomelo-mysql-tabbar-item {
    padding: 0 15px;
    line-height: 40px;
    font-size: 12px;
    display: inline-block;
    margin-right: -5px;
}

    .pomelo-mysql-tabbar-item.active {
        background: rgb(30,30,30);
        color: #fff;
    }

.pomelo-mysql-tabbar-item.major {
    background: rgb(104,33,122);
    color: #fff;
}

.pomelo-mysql-tabbar-item i {
    width: 15px;
}

.pomelo-mysql-tabbar-item .close {
    width: 15px;
    text-align: right;
    visibility: hidden;
}

    .pomelo-mysql-tabbar-item:hover .close {
        visibility: visible;
    }

.pomelo-mysql-design-toggle {
    line-height: 40px;
    padding: 0 15px;
    background: rgb(36,37,37);
    border-bottom: 1px solid #444;
    font-size: 12px;
}

    .pomelo-mysql-design-toggle:hover {
        background: rgb(50,50,50);
        color: #fff;
    }

    .pomelo-mysql-design-toggle .toggle-icon {
        float: right;
        width: 15px;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }

    .pomelo-mysql-design-toggle .section-icon {
        width: 20px;
        text-align: center;
    }

.pomelo-mysql-design-table-content {
    padding: 15px;
    font-size: 12px;
}

.pomelo-mysql-design-table-column {
    line-height: 30px;
    font-size: 12px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 -5px;
}

.pomelo-mysql-design-table-fields label {
    font-weight: bold;
}

    .pomelo-mysql-design-table-column:hover, .pomelo-mysql-design-table-column.active {
        background: rgb(45,45,45);
    }

.pomelo-mysql-design-textbox {
    border: none;
    background: rgb(45,45,45);
    color: #ccc;
    width: calc(100% - 20px);
    line-height: 30px;
    padding: 0 10px;
    margin: 10px 0;
}

.pomelo-mysql-design-table-fields {
    padding: 15px 0;
    border-bottom: 1px solid #444;
    margin-bottom: 15px;
}

    .pomelo-mysql-design-table-fields .col-md-4 {
        height: 66px;
    }

.pomelo-mysql-design-checkbox {
    height: 20px;
    width: 20px;
    margin: 15px 0;
}