<div class="pomelo-instance-main-padding">
    <div class="pomelo-mysql-main-narrow">
        <div class="pomelo-mysql-create-header">
            <img src="/static/mysql/icon.png" />
            <div>
                <div class="pomelo-mysql-create-header-title">MySQL</div>
                <div class="pomelo-mysql-create-header-description">The following engines are supported:</div>
                <div class="pomelo-mysql-create-header-description">- MySQL 5.6 / 5.7 / 8.0</div>
                <div class="pomelo-mysql-create-header-description">- MariaDB 10.2 / 10.3 / 10.4</div>
                <div class="pomelo-mysql-create-header-description">- Microsoft Azure / Amazon / AliCloud</div>
                <div class="pomelo-mysql-create-header-description">- PingCAP TiDB</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="pomelo-mysql-create-configure">
            <div id="form-create-mysql-connection" action="/mysql/create-conn" method="post">
                <div class="form-section">
                    <label>
                        Server address<br />
                        <input type="text" class="textbox" v-model="form.address" />
                    </label>
                </div>
                <div class="form-section">
                    <label>
                        Port<br />
                        <input type="text" class="textbox" v-model="form.port" />
                    </label>
                </div>
                <div class="form-section">
                    <label>
                        Username<br />
                        <input type="text" class="textbox" v-model="form.username" />
                    </label>
                </div>
                <div class="form-section">
                    <label>
                        Password<br />
                        <input type="password" class="textbox" v-model="form.password" />
                    </label>
                </div>
                <div class="form-section">
                    <label>
                        SSL Option<br />
                        <select name="ssl" class="dropdown" style="width: auto" v-model="form.ssl">
                            <option value="None">None</option>
                            <option value="Preferred">Preferred</option>
                            <option value="Restricted">Restricted</option>
                            <option value="CustomSslCert">Custom SSL Client Certificate</option>
                        </select>
                    </label>
                </div>
                <div class="form-section">
                    <button v-on:click="connect" role="button" class="button">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>