.pomelo-mysql-main-narrow {
    margin: 0 auto;
    width: 600px;
}

.pomelo-mysql-create-header svg {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 30px;
    fill: #d4d4d4;
}

.pomelo-mysql-create-header-title {
    font-size: 18px;
    font-weight: bold;
}

.pomelo-mysql-create-header-description {
    font-size: 10px;
}

.pomelo-mysql-create-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(77,77,77);
}

.clear {
    clear: both;
}

#form-create-mysql-connection {
    padding: 15px;
}

#form-create-mysql-connection label {
    font-size: 12px;
    font-weight: bold;
}