body {
    margin: 0;
    padding: 0;
    background: rgb(30,30,30);
}

.pomelo-statusbar {
    position: fixed;
    height: 25px;
    width: 100%;
    background: rgb(0,124,202);
    bottom: 0;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    padding: 0 15px;
}

.pomelo-instance-tab {
    background: rgb(60,60,60);
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    bottom: 25px;
}

.pomelo-instance-menu {
    left: 50px;
    width: 250px;
    top: 0;
    position: fixed;
    background: rgb(37,37,38);
    bottom: 25px;
    color: #ccc;
}

.pomelo-instance-tab-item {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    color: rgb(133, 130, 128);
    margin-bottom: 5px;
    border-left: 5px solid rgba(0,0,0,0);
}

    .pomelo-instance-tab-item:hover {
        color: #fff;
    }

    .pomelo-instance-tab-item.active {
        color: #fff;
        border-left: 3px solid #fff;
    }

.pomelo-instance-main {
    color: #d4d4d4;
    position: fixed;
    left: 300px;
    bottom: 25px;
    top: 0;
    right: 0;
}

.pomelo-instance-main-padding {
    padding: 15px;
}

.pomelo-new-connection-menu-title {
    background: rgb(56,56,56);
    color: rgb(204,204,204);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.pomelo-new-connection-menu-item {
    height: 50px;
    padding: 15px;
    display: block;
}

    .pomelo-new-connection-menu-item img {
        width: 50px;
        height: 50px;
        float: left;
        border-radius: 5px;
        margin-right: 10px;
    }

.pomelo-new-connection-menu-item-provider {
    font-size: 16px;
    font-weight: bold;
}

.pomelo-new-connection-menu-item-description {
    font-size: 10px;
}

.pomelo-new-connection-menu-item:hover, .pomelo-new-connection-menu-item.active {
    background: rgb(42,45,46);
}

.textbox, .dropdown {
    width: calc(100% - 12px);
    background: rgb(60,60,60);
    outline: 0;
    border: 1px solid rgb(60,60,60);
    color: rgb(156,166,156);
    line-height: 24px;
    font-size: 14px;
    padding: 0 5px;
    height: 24px;
}

.dropdown {
    height: 26px;
}

    .textbox:focus, .dropdown:focus {
        border-color: rgb(0,124,202);
    }

.form-section {
    margin-bottom: 15px;
}

.button {
    background: rgb(14,99,156);
    line-height: 35px;
    height: 35px;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    border: none;
}

    .button:hover {
        background: rgb(17,119,187);
    }

    .button.disabled {
        background: rgb(28,62,85);
        color: rgba(255, 255, 255, 0.4);
    }

.pomelo-instance-menu-drag {
    z-index: 10000;
    width: 3px;
    position: fixed;
    background: none;
    cursor: col-resize;
    top: 0;
    bottom: 25px;
    left: 297px;
}

.pomelo-instance-tab-icon {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.pomelo-new-connection-menu-toggle {
    line-height: 30px !important;
    float: right;
}