@model  Pomelo.Explorer.MySQL.Models.TextEditorViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
    <link href="/assets/css/pomelo.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />

    <script>
        window.nodeRequire = require;
        delete window.require;
        delete window.exports;
        delete window.module;
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/i18n.js"></script>
    <script src="/assets/js/pomelo.queryview.js"></script>
    <title>Pomelo</title>
    <style>
        #editor {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 55px;
        }

        #buttons {
            position: fixed;
            height: 35px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
        }

        #btn-save {
            height: 35px;
            line-height: 35px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        <div id="editor">@Model.Value</div>
        <div id="buttons">
            <a class="button" id="btn-save">Save</a>
        </div>
    </div>
    <script src="/static/mysql/Resource/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/@(Model.IsJson ? "json" : "text")");
        $('#btn-save').click(function () {
            $('#btn-save').addClass('disabled');
            $('#btn-save').attr('disabled', 'disabled');
            qv.post('/mysql/editor/set-string-special-value', {
                key: '@Model.Id',
                value: editor.getValue()
            }).then(() => {
                var remote = window.nodeRequire('electron').remote;
                remote.getCurrentWindow().close();
            });
        });
    </script>
</body>
</html>