<template class="task-template">
    <section id="mysql-section" class="section js-section u-category-system">
        <header class="section-header">
            <div class="section-wrapper">
                <h1>
                    <svg class="section-icon"><use xlink:href="assets/img/icons.svg#icon-system"></use></svg>
                    MySQL
                </h1>
                <h3>With Electron.NET you can gather information about the user's system, app or screen.</h3>
                
                <p>You find the sample source code in <code>Controllers\AppSysInformationController.cs</code>.</p>
            </div>
        </header>
    </section>
</template>
